<div class="container-fluid " style="margin: 0 0 0 0 ; padding: 0; ">
  <div id="about-top-gradient"></div>
  <div class="container-fluid about-container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center">
        <h1 class=" about_us-title">Quem Somos</h1>
        <br>
        <p class="about_us-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu nisi at velit tempor
          aliquet at a dolor. Praesent sed sem justo. Pellentesque viverra leo eu venenatis aliquam. Sed efficitur ac
          ligula in lobortis. Sed ut dignissim ante. </p>
        <p class="about_us-text">Quisque orci dolor, pulvinar sit amet placerat sed, laoreet sed elit. In quis tellus et
          dolor condimentum cursus. Sed id nisi ipsum. Integer lorem felis, sagittis at eleifend ut, porttitor luctus
          odio.</p>

      </div>
    </div>
  </div>
  <div id="about-bottom-gradient"></div>
  <br>

  <
  <br>
  <br>

  <div class="container-fluid clients-container">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-4 text-center"></div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 text-center">
        <h1 class="about-page-titles about-page-titles-clients">Nossos Clientes</h1>
        <br>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-4 text-center"></div>

    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-3 text-center"></div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 text-center" >
        <div class="container-fluid"  style="max-height: 80px;">
        <div class="row" >

          <div class="col-xs-4">
            <div class="client-img-container">
              <%= image_tag('sorvete_italia.jpg', class: 'img-responsive') %>
            </div>
            <div class="client-img-container client-img-container-romanelli">
              <%= image_tag('client_romanelli.jpg', class: 'img-responsive') %>
            </div>
          </div>


          <div class="col-xs-4">
            <div class="client-img-container ">
              <%= image_tag('client_gergilim.jpg', class: 'img-responsive') %>
            </div>
            <div class="client-img-container client-img-container-tipicamente ">
              <%= image_tag('client_tipicamente.jpg', class: 'img-responsive') %>
            </div>
          </div>


          <div class="col-xs-4">
            <div class="client-img-container">
              <%= image_tag('client_pega_leve.png', class: 'img-responsive') %>
            </div>

          </div>
        </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-3 text-center"></div>

    </div>
  </div>
</div>


</div>
