<%= simple_form_for(@product) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-7 col-lg-9">
            <div class="row">
              <%= f.association :category %>
              <div class="col-xs-8 col-lg-10">
                <%= f.input :name %>
              </div>
              <div class="col-xs-4 col-lg-2">
                <%= f.input :value %>
              </div>
            </div>
          </div>
          <div class="col-xs-5 col-lg-3">
            <%= f.association :flavors %>
            <%= f.association :product_product_sizes %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <%= (image_tag @product.product_image, class: 'img-responsive') unless @product.product_image.nil? || @product.product_image.to_s.empty? %>
            <%= f.file_field :product_image %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-actions">
              <%= f.button :submit %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%# f.association :sizes %>
<% end %>
