<%content_for :title do %>
Mel Doceria | Produtos
<% end %>
<div class="container-fluidr" style=" margin: 0px 20px 0 20px; ">
  <br>
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4  ">

     <%= render ('dashboard_menu') %>
    </div>

    <div class="col-lg-10 col-md-9 col-sm-8 ">
      <% i = 0 %>

      <% @products.each do |product| %>
          <% if i%3==0 && i != 0 %>
              </div>
          <% end %>
          <% if i == 0 || i%3==0 %>
              <div class="row">
          <% end %>
          <div class="col-lg-4   col-sm-12 col-xs-12 ">
            <div class="thumbnail product-container" style="">
              <div class="product-image-container ">
                <%= link_to (image_tag product.product_image,  class: 'product-image img-responsive'), product %>
                <div class="middle">
                  <div class="product-description"><%= link_to product.description, product, class: 'product-description-link' %></div>
                </div>
              </div>
              <div class="caption ">
                <div class="container-fluid product-header-container">
                  <h3 class="center"><%= link_to "#{product.name}", product, class: 'mel-dark menu-link' %></h3>
                  <h4 class="value-green "><%= "A partir de #{product.min_value}" %></h4>
                  <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a>
                    <a href="#" class="btn btn-default" role="button">Button</a></p>-->
                </div>
              </div>
            </div>
          </div>
          <% i += 1 %>
      <% end %>
      </div>
      </div>
</div>
<br>


<br>

