<br>
<br>
<div class="container-fluid product-show-container ">

  <div class="row">
    <div class="col-sm-12">
      <div class="product-show-header-container">
        <h1 class=" text-center mel-dark">
          <%= @product.name %>
        </h1></div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-7">
      <div class="product-show-image-container">
        <%= image_tag @product.product_image, class: ' img-responsive' %>
        <br>
        <br>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="product-show-description-container">
        <h3 class="mel-dark">Descrição:</h3>
        <table class="table">
          <tbody>
          <tr>
          <td>
        <h4 class="purple">
          <%= ( (@product.full_description.nil? ) || (@product.full_description.empty?) ) ?  @product.description : @product.full_description %></h4>
          </td>
          </tr>
          </tbody>
        </table>
      </div>
      <br>
      <div class="product-show-sizes-container">
        <h3 class="mel-dark">Tamanhos:</h3>
        <table class="table" >
          <tbody>
          <% @product.product_sizes.each do |product_size| %>
              <tr>
                <td class="purple "><h4><%= product_size.name %></h4></td>
                <td><%# product_size.weight %></td>
                <td><%# product_size.width %></td>
                <td><%# product_size.height %></td>
                <td><%# product_size.depth %></td>
                <td class="value-green "> <h4> <%= "#{product_size.value_f}" %></h4></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <%# link_to 'Edit', edit_product_path(@product) %>
  <%# link_to 'Back', products_path %>
</div>